@charset "UTF-8";

/*全体*/
body {
	text-align: center;
	min-width: 900px;
	min-height: 100vh;
	background-color: lightgray;
}

.h1 {
	padding: 20px 40px;
}

.login {
	text-align: right;
	padding-right: 20px;
	padding-top: 30px;
}

.logout-link {
	margin-top: 10px;
}

.logout-margin {
	margin-top: 10px;
}

/*ヘッダー、ナビゲーションメニュー、フッター*/
header,
nav {
	background-color: dimgray;
	color: #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	padding-left: 10px;
}

nav {
	margin-top: 5px;
	display: flex;
	height: 30px;
	align-items: flex-end;
	gap: 10px;
	padding-bottom: 0px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.user-box {
	border: 2px solid;
	background-color: #ffffff;
	padding: 30px;
	width: 500px;
	display: flex;
	justify-content: center;
	margin: 25px auto;
}

.input {
	margin-bottom: 10px;
}

/*ナビゲーション内リンク*/
nav a {
	color: #ffffff;
}

header h1 a {
	color: #ffffff;
	text-decoration: none;

}

/*ヘッダー内見出し*/
header h1 {
	font-size: 20pt;
	margin: 10px;
	text-align: start;
}

/*仕切り線*/
hr {
	border-top: 1px;
}

/*メイン*/
main {
	background-color: lightgray;
	min-height: 100vh;
	padding: 20px;
}

/*表線*/
table,
th,
td {
	border-collapse: collapse;
	border: solid 1px black;
	background-color: #fff
}

/*表*/
table {
	margin: 5px auto;
	min-width: 800px;
}

/*表見出しセル*/
table th {
	background: dimgray;
	color: #ffffff;
}

/*送信ボタン*/
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: dimgray;
	color: #ffffff;
	border: none;
	width: 150px;
	cursor: pointer;
}

/*送信ボタン（マウスオーバー時）*/
button:hover {
	background-color: lightgray;
}

.radio-group {
	text-align: left;
}

.radio {
	display: inline-flex;
	/* 横並び */
	margin-right: 15px;
	/* 各ラジオボタンに余白を追加 */
}

.create-task {
	display: flex;
	padding: 10px 50px 10px 30px;
}

.create-task a {
	margin-left: 70px;
	margin-bottom: -10px;
}

.task-button {
	width: 100%;
}

.text-left {
	text-align: left;
	padding-left: 15px;
}

p {
	font-size: 30px;
	display: flex;
	margin-left: 100px;
	margin-bottom: -5px;
}

.edit-create-button{
	margin-top: 15px;
}